{% block content %}
<div class="content">
{$ doc.description | nestjsmarked  $}
</div>

<div class="companies-wrapper">
  {% for company in doc.whoUses.Header %}
    <a class="company-logo" href="{$ company.url $}" target="_blank" rel="nofollow"><img src="{$ company.logo $}"
      {% if company.width %} style="width: {$ company.width $}" {% endif %} /></a>
  {% endfor %}

</div>
<table class="companies-list">
  {% for company in doc.whoUses.Body %}
    <tr>
        <td><a href="{$ company $}" target="_blank" rel="nofollow">{$ company $}</a></td>
      </tr>
  {% endfor %}
</table>
<p>
  그리고 훨씬 더 많지만 위 목록을 업데이트할 시간이 충분하지 않습니다. 그래도 <a href="https://github.com/jakekwak/docs.nestjs.kr/pulls"
    target="_blank">풀 리퀘스트</a>를 자유롭게 생성하십시오!
</p>
{% endblock %}
