<div class="social-wrapper">
  <a href="https://twitter.com/nestframework" target="_blank">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="https://github.com/jakekwak/docskr.nest-js.com" target="_blank">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://stackoverflow.com/questions/tagged/nestjs" target="_blank">
    <i class="fab fa-stack-overflow"></i>
  </a>
  <a
    href="https://kr.nest-js.com"
    title="NestJS - A node.js framework built on top of TypeScript"
    target="_blank"
  >
    <i class="fa fa-globe"></i>
  </a>
  <a href="https://nestjs-kr.slack.com/" target="_blank" rel="nofollow">
    <i class="fab fa-slack"></i>
  </a>
</div>
