<div class="social-wrapper">
  <a href="https://open.kakao.com/o/ggLiN79c" target="_blank">
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/e3/KakaoTalk_logo.svg" style="width: 19px;position: relative;
    top: 3px;" alt="Kakao Talk">
  </a>
  <a href="https://github.com/jakekwak/docs.nestjs.kr" target="_blank">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://stackoverflow.com/questions/tagged/nestjs" target="_blank">
    <i class="fab fa-stack-overflow"></i>
  </a>
  <a
    href="https://www.nest-js.com"
    title="NestJS - A node.js framework built on top of TypeScript"
    target="_blank"
  >
    <i class="fa fa-globe"></i>
  </a>
  <a href="https://nestjs-kr.slack.com/" target="_blank" rel="nofollow">
    <i class="fab fa-slack"></i>
  </a>
</div>
