
<div class="content" #contentReference>
  <div class="github-links">
    <a
      href="https://github.com/nestjs/docs.nestjs.com/edit/master/content/microservices/custom-transport.md"
      aria-label="Suggest Edits"
      title="Suggest Edits"
    >
      <i class="fas fa-edit"></i>
    </a>
  </div>
  <h3 id="custom-transporters">Custom transporters</h3>
<p>Nest는 개발자가 새로운 맞춤형 전송 전략을 구축할 수 있는 API뿐만 아니라 즉시 사용할 수 있는 다양한 <strong>트랜스포터</strong>를 제공합니다.
트랜스포터를 사용하면 플러그형 통신 계층과 매우 간단한 애플리케이션 수준 메시지 프로토콜을 사용하여 네트워크를 통해 구성요소를 연결할 수 있습니다 (전체 <a rel='nofollow' target='_blank' href="https://dev.to/nestjs/integrate-nestjs-with-external-services-using-microservice-transporters-part-1-p3">기사</a> 읽기).</p>
<blockquote class="
info "><strong>힌트</strong> Nest로 마이크로서비스를 구축한다고해서 반드시 <code>@nestjs/microservices</code> 패키지를 사용해야하는 것은 아닙니다. 예를 들어, 외부 서비스(다른 언어로 작성된 다른 마이크로서비스)와 통신하려는 경우 <code>@nestjs/microservice</code> 라이브러리에서 제공하는 모든 기능이 필요하지 않을 수 있습니다.
사실, 가입자를 선언적으로 정의할 수있는 데코레이터(<code>@EventPattern</code> 또는 <code>@MessagePattern</code>)가 필요하지 않은 경우 <a routerLink="/application-context">Standalone Application</a>을 실행하고 수동으로 채널에 대한 연결/구독을 유지해야합니다. 대부분의 사용 사례에 충분하며 더 많은 유연성을 제공합니다.
</blockquote>
<p>커스텀 전송자를 사용하면 모든 메시징 시스템/프로토콜(Google Cloud Pub/Sub, Amazon Kinesis등 포함)을 통합하거나 기존 항목을 확장하여 추가 기능(예: MQTT용 <a rel='nofollow' target='_blank' href="https://github.com/mqttjs/MQTT.js/blob/master/README.md#qos">QoS</a>)을 추가 할 수 있습니다.</p>
<blockquote class="
info "><strong>힌트</strong> Nest 마이크로서비스의 작동 방식과 기존 전송기의 기능을 확장하는 방법을 더 잘 이해하려면 <a rel='nofollow' target='_blank' href="https://dev.to/johnbiundo/series/4724">NestJS Microservices in Action</a> 및 <a rel='nofollow' target='_blank' href="https://dev.to/nestjs/part-1-introduction-and-setup-1a2l">Advanced NestJS Microservices</a> 기사 시리즈를 읽어 보는 것이 좋습니다.
</blockquote>
<h4 appAnchor id="creating-a-strategy"><span>Creating a strategy</span></h4>
<p>먼저 커스텀 트랜스포터를 나타내는 클래스를 정의하겠습니다.</p>
<pre><code class="language-typescript">
import &#123; CustomTransportStrategy, Server &#125; from &#39;@nestjs/microservices&#39;;

class GoogleCloudPubSubServer
  extends Server
  implements CustomTransportStrategy &#123;
  /**
   * This method is triggered when you run &quot;app.listen()&quot;.
   */
  listen(callback: () =&gt; void) &#123;
    callback();
  &#125;

  /**
   * This method is triggered on application shutdown.
   */
  close() &#123;&#125;
&#125;
</code></pre>
<blockquote class="
warning "><strong>경고</strong> 이 장에서는 모든 기능을 갖춘 Google Cloud Pub/Sub 서버를 구현하지 않을 것입니다.이 경우 전송업체(transporter)별 기술 세부 정보를 살펴 봐야합니다.
</blockquote>
<p>위의 예에서는 <code>GoogleCloudPubSubServer</code> 클래스를 선언하고 <code>CustomTransportStrategy</code> 인터페이스에 의해 시행되는 <code>listen()</code> 및 <code>close()</code> 메소드를 제공했습니다.
또한 우리 클래스는 <code>@nestjs/microservices</code> 패키지에서 가져온 <code>Server</code> 클래스를 확장하여 몇가지 유용한 메서드를 제공합니다. 예를 들어 Nest 런타임에서 메시지 핸들러를 등록하는데 사용하는 메서드가 있습니다. 또는 기존 전송 전략의 기능을 확장하려는 경우 해당 서버 클래스(예: <code>ServerRedis</code>)를 확장할 수 있습니다.
일반적으로 메시지/이벤트 구독(필요한 경우 응답)을 담당하므로 클래스에 <code>&quot;Server&quot;</code> 접미사를 추가했습니다.</p>
<p>이를 통해 이제 다음과 같이 기본제공(built-in) 전송기를 사용하는 대신 사용자 지정 전략을 사용할 수 있습니다.</p>
<pre><code class="language-typescript">
const app = await NestFactory.createMicroservice&lt;MicroserviceOptions&gt;(
  AppModule,
  &#123;
    strategy: new GoogleCloudPubSubServer(),
  &#125;,
);
</code></pre>
<p>기본적으로 <code>transport</code> 및 <code>options</code> 속성이 있는 일반 트랜스포터 옵션 객체를 전달하는 대신 값이 맞춤 트랜스포터 클래스의 인스턴스인 단일 속성인 <code>strategy</code>를 전달합니다.</p>
<p><code>GoogleCloudPubSubServer</code> 클래스로 돌아가 실제 애플리케이션에서 메시지 브로커/외부 서비스에 대한 연결을 설정하고 <code>listen()</code> 메서드에서 구독자 등록/특정 채널 청취(그런 다음 구독 제거 및 종료 <code>close()</code> 해체 메서드의 연결), 하지만 이를 위해서는 Nest 마이크로서비스가 서로 통신하는 방식을 잘 이해해야 하므로 이 <a rel='nofollow' target='_blank' href="https://dev.to/nestjs/part-1-introduction-and-setup-1a2l">문서 시리즈</a>를 읽는 것이 좋습니다. 대신 이 장에서는 <code>Server</code> 클래스가 제공하는 기능과 이를 활용하여 맞춤형 전략을 구축하는 방법에 초점을 맞출 것입니다.</p>
<p>예를 들어, 애플리케이션 어딘가에 다음 메시지 핸들러가 정의되어 있다고 가정해 보겠습니다.</p>
<pre><code class="language-typescript">
@MessagePattern(&#39;echo&#39;)
echo(@Payload() data: object) &#123;
  return data;
&#125;
</code></pre>
<p>이 메시지 핸들러는 Nest 런타임에 의해 자동으로 등록됩니다. <code>Server</code> 클래스를 이용하면 어떤 메시지 패턴이 등록되었는지 확인할 수 있으며, 할당된 실제 메소드에 접근하여 실행할 수 있습니다.
이것을 테스트하기 위해, <code>callback</code> 함수가 호출되기 전에 <code>listen()</code> 메소드 안에 간단한 <code>console.log</code>를 추가해 봅시다 :</p>
<pre><code class="language-typescript">
listen(callback: () =&gt; void) &#123;
  console.log(this.messageHandlers);
  callback();
&#125;
</code></pre>
<p>애플리케이션이 다시 시작되면 터미널에 다음 로그가 표시됩니다.</p>
<pre><code class="language-typescript">
Map &#123; &#39;echo&#39; =&gt; [AsyncFunction] &#123; isEventHandler: false &#125; &#125;
</code></pre>
<blockquote class="
info "><strong>힌트</strong> <code>@EventPattern</code> 데코레이터를 사용하면 동일한 출력이 표시되지만 <code>isEventHandler</code> 속성이 <code>true</code>로 설정되어 있습니다.
</blockquote>
<p>보시다시피 <code>messageHandlers</code> 속성은 패턴이 키로 사용되는 모든 메시지(및 이벤트) 핸들러의 <code>Map</code> 모음입니다.
이제 키(예: <code>&quot;echo&quot;</code>)를 사용하여 메시지 핸들러에 대한 참조를 받을 수 있습니다.</p>
<pre><code class="language-typescript">
async listen(callback: () =&gt; void) &#123;
  const echoHandler = this.messageHandlers.get(&#39;echo&#39;);
  console.log(await echoHandler(&#39;Hello world!&#39;));
  callback();
&#125;
</code></pre>
<p>임의의 문자열을 인수로 전달하는 <code>echoHandler</code>를 실행하면(여기서는 <code>&quot;Hello world!&quot;</code>) 콘솔에서 확인할 수 있습니다.</p>
<pre><code class="language-json">
Hello world!
</code></pre>
<p>이는 우리의 메소드 핸들러가 제대로 실행되었음을 의미합니다.</p>
<h4 appAnchor id="client-proxy"><span>Client proxy</span></h4>
<p>첫번째 섹션에서 언급했듯이 반드시 <code>@nestjs/microservices</code> 패키지를 사용하여 마이크로서비스를 생성할 필요는 없지만 그렇게 하기로 결정하고 사용자 지정 전략을 통합해야하는 경우 다음을 제공해야합니다. &quot;클라이언트&quot; 클래스도 마찬가지입니다.</p>
<blockquote class="
info "><strong>힌트</strong> 다시 말하지만, 모든 <code>@nestjs/microservices</code> 기능 (예: 스트리밍)과 호환되는 모든 기능을 갖춘 클라이언트 클래스를 구현하려면 프레임워크에서 사용하는 통신 기술을 잘 이해해야합니다. 자세한 내용은 이 <a rel='nofollow' target='_blank' href="https://dev.to/nestjs/part-4-basic-client-component-16f9">기사</a>를 확인하십시오.
</blockquote>
<p>외부 서비스/발신 및 메시지(또는 이벤트)와 통신하려면 라이브러리별 SDK 패키지를 사용하거나 다음과 같이 <code>ClientProxy</code>를 확장하는 사용자 지정 클라이언트 클래스를 구현할 수 있습니다.</p>
<pre><code class="language-typescript">
import &#123; ClientProxy, ReadPacket, WritePacket &#125; from &#39;@nestjs/microservices&#39;;

class GoogleCloudPubSubClient extends ClientProxy &#123;
  async connect(): Promise&lt;any&gt; &#123;&#125;
  async close() &#123;&#125;
  async dispatchEvent(packet: ReadPacket&lt;any&gt;): Promise&lt;any&gt; &#123;&#125;
  publish(
    packet: ReadPacket&lt;any&gt;,
    callback: (packet: WritePacket&lt;any&gt;) =&gt; void,
  ): Function &#123;&#125;
&#125;
</code></pre>
<blockquote class="
warning "><strong>경고</strong> 이 장에서는 모든 기능을 갖춘 Google Cloud Pub/Sub 클라이언트를 구현하지 않을 것입니다.이 경우 전송 업체별 기술 세부 정보를 살펴봐야합니다.
</blockquote>
<p>보시다시피 <code>ClientProxy</code> 클래스는 연결을 설정 및 종료하고 메시지(<code>publish</code>)와 이벤트(<code>dispatchEvent</code>)를 게시하기 위한 여러 메서드를 제공해야합니다.
요청-응답 통신 스타일 지원이 필요하지 않은 경우 <code>publish()</code> 메서드를 비워둘 수 있습니다. 마찬가지로 이벤트 기반 통신을 지원할 필요가 없으면 <code>dispatchEvent()</code> 메서드를 건너뜁니다.</p>
<p>이러한 메소드가 실행되는 내용과 시기를 관찰하기 위해 다음과 같이 여러 <code>console.log</code> 호출을 추가해 보겠습니다.</p>
<pre><code class="language-typescript">
class GoogleCloudPubSubClient extends ClientProxy &#123;
  async connect(): Promise&lt;any&gt; &#123;
    console.log(&#39;connect&#39;);
  &#125;

  async close() &#123;
    console.log(&#39;close&#39;);
  &#125;

  async dispatchEvent(packet: ReadPacket&lt;any&gt;): Promise&lt;any&gt; &#123;
    return console.log(&#39;event to dispatch: &#39;, packet);
  &#125;

  publish(
    packet: ReadPacket&lt;any&gt;,
    callback: (packet: WritePacket&lt;any&gt;) =&gt; void,
  ): Function &#123;
    console.log(&#39;message:&#39;, packet);

    // In a real-world application, the &quot;callback&quot; function should be executed
    // with payload sent back from the responder. Here, we&#39;ll simply simulate (5 seconds delay)
    // that response came through by passing the same &quot;data&quot; as we&#39;ve originally passed in.
    setTimeout(() =&gt; callback(&#123; response: packet.data &#125;), 5000);

    return () =&gt; console.log(&#39;teardown&#39;);
  &#125;
&#125;
</code></pre>
<p>이를 통해 <code>GoogleCloudPubSubClient</code> 클래스의 인스턴스를 만들고 반환된 관찰 가능한 스트림을 구독하여 <code>send()</code> 메서드(이전 장에서 보셨을 것임)를 실행해 보겠습니다.</p>
<pre><code class="language-typescript">
const googlePubSubClient = new GoogleCloudPubSubClient();
googlePubSubClient
  .send(&#39;pattern&#39;, &#39;Hello world!&#39;)
  .subscribe((response) =&gt; console.log(response));
</code></pre>
<p>이제 터미널에 다음 출력이 표시됩니다.</p>
<pre><code class="language-typescript">
connect
message: &#123; pattern: &#39;pattern&#39;, data: &#39;Hello world!&#39; &#125;
Hello world! // &lt;-- after 5 seconds
</code></pre>
<p>&quot;teardown&quot; 메서드(<code>publish()</code> 메서드가 반환하는)가 제대로 실행되는지 테스트하기 위해 스트림에 타임아웃 연산자를 적용하고 <code>setTimeout</code>이 <code>callback</code> 함수를 호출하는 것보다 일찍 발생하는지 확인하기 위해 2초로 설정합니다. .</p>
<pre><code class="language-typescript">
const googlePubSubClient = new GoogleCloudPubSubClient();
googlePubSubClient
  .send(&#39;pattern&#39;, &#39;Hello world!&#39;)
  .pipe(timeout(2000))
  .subscribe(
    (response) =&gt; console.log(response),
    (error) =&gt; console.error(error.message),
  );
</code></pre>
<blockquote class="
info "><strong>힌트</strong> <code>timeout</code> 연산자는 <code>rxjs/operators</code> 패키지에서 가져옵니다.
</blockquote>
<p><code>timeout</code> 연산자가 적용된 상태에서 터미널 출력은 다음과 같아야합니다.</p>
<pre><code class="language-typescript">
connect
message: &#123; pattern: &#39;pattern&#39;, data: &#39;Hello world!&#39; &#125;
teardown // &lt;-- teardown
Timeout has occurred
</code></pre>
<p>이벤트를 전달하려면(메시지를 보내는 대신) <code>emit()</code> 메서드를 사용합니다.</p>
<pre><code class="language-typescript">
googlePubSubClient.emit(&#39;event&#39;, &#39;Hello world!&#39;);
</code></pre>
<p>그리고 이것이 콘솔에 표시되어야하는 것입니다.</p>
<pre><code class="language-typescript">
connect
event to dispatch:  &#123; pattern: &#39;event&#39;, data: &#39;Hello world!&#39; &#125;
</code></pre>

</div>

